{% for dbname, database in databases %}
	<div class="mb-3">
		<h3>Dplus {{ dbname|capitalize }}</h3>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" id="{{ dbname }}-structure-tab" data-toggle="tab" href="#{{ dbname }}-structure" role="tab" aria-controls="{{ dbname }}-structure" aria-selected="true">
					Structure
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="{{ dbname }}-notes-tab" data-toggle="tab" href="#{{ dbname }}-notes" role="tab" aria-controls="{{ dbname }}-notes" aria-selected="false">
					Notes
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="{{ dbname }}-tables-tab" data-toggle="tab" href="#{{ dbname }}-tables" role="tab" aria-controls="{{ dbname }}-tables" aria-selected="false">
					Tables
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="{{ dbname }}-use-tab" data-toggle="tab" href="#{{ dbname }}-user" role="tab" aria-controls="{{ dbname }}-user" aria-selected="false">
					Create User
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="{{ dbname }}-priv-tab" data-toggle="tab" href="#{{ dbname }}-priv" role="tab" aria-controls="{{ dbname }}-priv" aria-selected="false">
					Privileges
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="{{ dbname }}-structure" role="tabpanel" aria-labelledby="{{ dbname }}-structure-tab">
				<div class="mt-2">
					{% include 'tools/database/table-structure.twig' %}
				</div>
			</div>
			<div class="tab-pane fade" id="{{ dbname }}-notes" role="tabpanel" aria-labelledby="{{ dbname }}-notes-tab">
				<div class="mt-2">
					{% include 'tools/database/notes.twig' %}
				</div>
			</div>
			<div class="tab-pane fade" id="{{ dbname }}-tables" role="tabpanel" aria-labelledby="{{ dbname }}-tables-tab">
				<div class="mt-2">
					{% include 'tools/database/table-list.twig' %}
				</div>
			</div>
			<div class="tab-pane fade" id="{{ dbname }}-user" role="tabpanel" aria-labelledby="{{ dbname }}-user-tab">
				<div class="mt-2">
					{% include 'tools/database/create-user.twig' %}
				</div>
			</div>
			<div class="tab-pane fade" id="{{ dbname }}-priv" role="tabpanel" aria-labelledby="{{ dbname }}-priv-tab">
				<div class="mt-2">
					{% include 'tools/database/privileges.twig' %}
				</div>
			</div>
		</div>
	</div>
	<hr>
{% endfor %}
{% include 'tools/database/modal-structure.twig' %}
