{% include 'repositories/commits/search-form.twig' %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Commit</th>
                <th class="col-sm-4"><abbr data-toggle="tooltip" title="ProcessWire / DB">Project</abbr> Notes</th>
				<th>Applied Customers</th>
            </tr>
        </thead>
        {% for commit in commits %}
            <tr>
                <td>
                    <a href="{{commit.url}}">
                        {{ commit.name|slice(0, 7) }}
                    </a>
                    <span>
                        {% if commit.is_merge %}
                            <span class="badge badge-warning p-2"><i class="fa fa-code-fork" aria-hidden="true"></i> Merge</span>
                        {% endif %}
                    </span>
                    <br>
                    {% set days = (("now"|date("z") - commit.date|date("z"))|abs) %}
                    <span class="text-secondary">{{ days_commit_text(days, commit.date) }}</span>
                    <br>
                    {{ commit.body|striptags}}
                    <br>
                </td>
                <td>
                    {{ commit.note|trim }}
                </td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="tooltip" data-html="true" title="{{ commit.commit_customers is empty ? 'N/A' : commit.commit_customers.explode('title')|join(', <br>') }}">
						Customers
					</button>
				</td>
            </tr>
        {% endfor %}
    </table>
</div>
