<div>
	<a href="{{ commit.parent.url }}" class="btn btn-dark mb-4"><i class="fa fa-arrow-circle-left"></i>&ensp;Back to Commit List</a>
	{% if (commit.name != repository.lastcommit.name) %}
		<a href="{{ commit.get_commits_since(commit.name) }}" class="btn btn-primary mb-4 pull-right"><i class="fa fa-list"></i>&ensp;View Subsequent Commits</a>
	{% endif %}
	<div class="card">
		<div class="card-header bg-gray">
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
					<span class="pull-right">
						{% set days = (("now"|date("z") - commit.date|date("z"))|abs) %}
						<span class="text-secondary">{{ days_commit_text(days, commit.date) }}</span>
					</span>
				</div>
			</div>
		</div>
		{% if commit.is_merge %}
			<div class="card-header bg-warning">
				<i class="fa fa-code-fork" aria-hidden="true"></i> This is a merge commit
			</div>
		{% endif %}
		{% if commit.updated_composer %}
			<div class="card-header bg-warning">
				<i class="fa fa-cog" aria-hidden="true"></i> This Commit Updated Composer
			</div>
		{% endif %}
		{% if commit.index == 1 %}
			<div class="card-header bg-secondary text-white">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i></i> This commit is {{ commit.index }} commit behind.
			</div>
		{% elseif commit.index != 0 %}
			<div class="card-header bg-secondary text-white">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i></i> This commit is {{ commit.index }} commits behind.
			</div>
		{% endif %}

		<div class="card-body">
			<nav class="mb-4">
				<div class="nav nav-tabs h4" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information</a>
					<a class="nav-item nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
					<a class="nav-item nav-link" id="fetch-tab" data-toggle="tab" href="#fetch" role="tab" aria-controls="fetch" aria-selected="false">Fetch Notes</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
					<div class="row">
						<div class="col-sm-5">
							<div class="mb-4">
								<h3><i class="fa fa-github" aria-hidden="true"></i> SHA</h3>
								{{ commit.name }}
							</div>
						</div>
						<div class="col-sm-7">
							<div class="mb-4">
								<h3><i class="fa fa-calendar" aria-hidden="true"></i> Commit Date</h3>
								{{ commit.date|date("m/d/Y") }}
							</div>
						</div>
					</div>
					<div class="mb-3">
						<h3><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Commit Message</h3>
						<div class="bg-light p-2">
							<pre>{{ commit.body|raw }}</pre>
						</div>
					</div>

					<div class="mb-3">
						<h3><i class="fa fa-commenting-o" aria-hidden="true"></i> Commit Notes</h3>
						{% include 'repositories/commits/commit-note-form.twig' %}
					</div>

					{% if user.role('project-admin') %}
						<div class="mb-5">
							<h3><i class="fa fa-users" aria-hidden="true"></i> Customer Repos that have applied commit</h3>
							{% set customerarray = customers.getArray()|batch(4, '') %}
							<div class="row">
								{% for customercolumn in customerarray %}
									<div class="col-sm-3">
										{% for customer in customercolumn if customer.title %}
											<div class="col">
												{% include 'repositories/commits/commit-checkbox-form.twig' %}
												&nbsp; &nbsp;
												{{ customer.title }} <a href="{{ customer.url }}" aria-label="{{ customer.title }} Link"><i class="fa fa-link" aria-hidden="true"></i></a>
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					<hr>
				</div>
				<div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
					<h3 class="mb-4">Files Affected</h3>
					<ul class="files-list">
						{% for file in github_commit.getFiles() %}
							<li class="p-2">
								<span class="badge badge-{{ get_commitfilestatuscolor(file.getStatus()) }}">
									<i class="{{ get_commitfilestatusicon(file.getStatus()) }}" aria-hidden="true"></i>
								</span>
								&nbsp;
								{{ file.getFilename() }}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tab-pane fade" id="fetch" role="tabpanel" aria-labelledby="fetch-tab">
					<div class="mb-4">
						<h3>Git Fetch {{ (commit.is_merge) ? 'Merge' : '' }}</h3>
						<p class="card-text">{{ commit.get_fetchstatement() }}</p>
					</div>

					<div class="mb-4">
						<h3>Cherry Pick Signature</h3>
						{{ commit.get_cherrypicksignature(false) }}
					</div>

					<div class="mb-4">
						<h3>Cherry Pick Signature with SHA</h3>
						{{ commit.get_cherrypicksignature(true) }}
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-6">
					{% if (commit.prev("sort=+date")) %}
						<a href="{{commit.prev("sort=+date").url}}">
							Previous Commit <br>
							<i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>
						</a>
					{% endif %}
				</div>
				<div class="col-sm-6 text-right">
					{% if (commit.next("sort=+date").id and commit.next("sort=+date").id != commit.id) %}
						<a href="{{commit.next("sort=+date").url}}">
							Next Commit <br>
							<i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
